body {
  font-family: "Roboto", sans-serif;
  background-color: #db3f59;
  margin: 0;
  height: 100vh;
}

.modal-background {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.117);
}

.modal-content {
  display: none;
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 240px;
  color: rgb(118, 118, 118);
  margin: 5% auto;
  width: 650px;
  padding: 50px;
  padding-top: 15px;
  height: 525px;
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
}

.modal-content > span {
  display: block;
  font-size: 1.2rem;
  text-indent: 50px;
}
.controls {
  font-size: 1.1rem;
}

li {
  margin-bottom: 1vw;
}

.content-container {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.3rem;
  font-weight: 900;
}

.info {
  z-index: 2;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  font-size: 1.4rem;
  font-weight: 900;
  color: rgb(106, 106, 106);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.934);
  width: 25px;
  height: 25px;
}

.grid-container {
  background-color: rgb(215, 215, 215);
  width: 103vh;
  height: 63vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.grid {
  width: 100vh;
  height: 60vh;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.grid > div {
  border-radius: 2px;
  background-color: rgb(244, 244, 244);
}

.footer {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.run {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

.signature {
  font-size: 1.3rem;
  color: rgb(231, 231, 231);
  margin-bottom: 20px;
}
