body {
  font-family: "Roboto", sans-serif;
  background-color: #db3f59;
  margin: 0;
  height: 100vh;
}

.content-container {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
}

.grid-container {
  background-color: rgb(215, 215, 215);
  width: 103vh;
  height: 63vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.grid {
  width: 100vh;
  height: 60vh;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.grid > div {
  border-radius: 2px;
  background-color: rgb(244, 244, 244);
}

.footer {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.run {
  font-size: 2rem;
  color: white;
}

.signature {
  font-size: 1.3rem;
  color: rgb(231, 231, 231);
}
